extends layout

block head
  script(src='/javascripts/ViewModel/Home/HomeViewModel.js')

block content
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href="/") Who Will Resign
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="/") Home
        ul.nav.navbar-nav.navbar-right
          li(data-bind="visible: isUserLogged")
            label(data-bind="html: 'Hi ' + username() + '&nbsp;&nbsp;&nbsp;&nbsp;|'")
          li(data-bind="visible: isUserLogged")
            a(href="#", data-bind="click: Logout") Logout
          li(data-bind="visible: !isUserLogged()")
            a(href="/user/login") Login
          li(data-bind="visible: !isUserLogged()")
            a(href="/user/create") Register
        
          
