extends layout

block head
  script(data-main="/javascripts/startup.js", src='/bower/requirejs/require.js')
  
block content
    div(id="page", data-bind="component: { name: route().page, params: route }")
          
