extends layout

block head
  //script(data-main="/javascripts/ViewModel/Home/HomeViewModel.js", src='/bower/requirejs/require.js')
  script(src='/bower/requirejs/require.js')
  script.
    require(['viewModel'])

block content
    div(data-bind="html: content")
    login 
          
