doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower/messi/messi.min.css')
    link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
    script(src='/javascripts/require.configure.js')
    
    block head
  body
    div.top-separator
    div.container
      navbar(params="route: route")
      block content