doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/messi.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/knockout-latest.js')
    script(src='/javascripts/site.js')
    script(src='/javascripts/messi.min.js')
    block head
  body
    div.top-separator
    div.container
      block content