doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/messi.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/knockout-latest.js')
    script(src='/javascripts/site.js')
    script(src='/javascripts/messi.min.js')
    
    script(src='/javascripts/ViewModel/AuthAndNavigationObject.js')
    
    block head
  body
    div.top-separator
    div.container
      nav.navbar.navbar-default
        div.container-fluid
          div.navbar-header
            a.navbar-brand(href="/") Who Will Resign
          div.collapse.navbar-collapse
            ul.nav.navbar-nav
              li(data-bind="css: { 'active': navigation().pageName == 'Home' }")
                a(href="/") Home
            ul.nav.navbar-nav.navbar-right
              li(data-bind="visible: navigation().isUserLogged")
                label(data-bind="html: 'Hi ' + navigation().username() + '&nbsp;&nbsp;&nbsp;&nbsp;|'")
              li(data-bind="visible: navigation().isUserLogged && navigation().showLogout()")
                a(href="#", data-bind="click: navigation().Logout") Logout
              li(data-bind="visible: !navigation().isUserLogged(), css: { 'active': navigation().pageName == 'Login' }")
                a(href="#", data-bind="click: LoginContent") Login
              li(data-bind="visible: !navigation().isUserLogged(), css: { 'active': navigation().pageName == 'Register' }")
                a(href="/user/create") Register
      block content