/* Controls */

.text-medium {
  width: 200px !important;
}

.error {
  background-color: rgb(249, 132, 132) !important;
}
/* Text */

.page-title {
  height: 30px;
  font-size: 20px;
  background-color: #FFCC99;
  text-align: center;
  border-top: 1px;
  border-bottom: 1px;
  margin-bottom: 10px;
}
/* Colours */

.white {
  color: white;
}
/* Structure */

.center {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.top-separator {
  margin-top: 15px;
}
/* Bootstrap extensions */

.navbar-nav>li>label {
  padding-top: 15px;
}